body{
    background-color: rgb(17, 17, 72);
}

.container{
    width: 50vh;
    margin: 10vh auto;
    width: 30%;
    border: 1px solid white;
}
.clear-delete{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}

#display{
    height: 4rem;
    width: 100%;
    background-color: white;
    text-align: right;
}
.operators{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.operators button{
    width: 25%;
    height: 50px;
    margin: 0;
    border: 1px solid rgb(9, 9, 37);
}